  $bg-10: #FFFFFF;
  $bg-25: #FDFDFC;
  $bg-50: #FAFAF9;
  $bg-100: #F5F5F4;
  $bg-200: #E7E5E4;
  $bg-300: #D7D3D0;
  $bg-400: #A9A29D;
  $bg-500: #79716B;
  $bg-600: #57534E;
  $bg-700: #44403C;
  $bg-800: #292524;
  $bg-900: #1C1917;
  $bg-950: #171412;
  $bg-1000: #000000;